<div class="container">
  <h2 class="text-center">Jogos Loteria Esportiva</h2>
    <table class="table">
      <thead>
        <tbody class="tbody">
          <tr>
            <td>
              <% @odds_hash.each do | odd |%>
                <% if odd.key?("GRÊMIO") %>
                  <%= @times[0] %> (<%= odd["GRÊMIO"] %>%)
                <% end %>
              <% end %>
            </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[1] %> </td>
          </tr>
          <tr>
            <td> <%= @times[2] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[3] %> </td>
          </tr>
          <tr>
            <td> <%= @times[4] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[5] %> </td>
          </tr>
          <tr>
            <td> <%= @times[6] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[7] %> </td>
          </tr>
          <tr>
            <td> <%= @times[8] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[9] %> </td>
          </tr>
          <tr>
            <td> <%= @times[10] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[11] %> </td>
          </tr>
          <tr>
            <td> <%= @times[12] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[13] %> </td>
          </tr>
          <tr>
            <td> <%= @times[14] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[15] %> </td>
          </tr>
          <tr>
            <td> <%= @times[16] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[17] %> </td>
          </tr>
          <tr>
            <td> <%= @times[18] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[19] %> </td>
          </tr>
          <tr>
            <td> <%= @times[20] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[21] %> </td>
          </tr>
          <tr>
            <td> <%= @times[22] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[23] %> </td>
          </tr>
          <tr>
            <td> <%= @times[24] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[25] %> </td>
          </tr>
          <tr>
            <td> <%= @times[26] %> </td>
            <td> </td>
            <td> </td>
            <td> <%= @times[27] %> </td>
          </tr>
        </tbody>
      </thead>
    </table>
    <%= @confrontos %>
    <%console%>
</div>
